@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration:none;
    
}
 :root{
    --red: #e91b00;
    --dark: #1e2c1e;
    --white: #fff;

 }
 
body{
    color: var(--dark);
    background: var(--white);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px ;
    box-shadow: 0 0.1rem 0.5rem #ccc ;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
}

.navigation .logo{
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: bolder;

}
.logo span{
    color: var(--red);
    font-size: 1.7rem;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color:var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--red);
    
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s ;
}
.home{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 10%;
}

.home-text{
    max-width: 37rem;

}

.home span{
    color: var(--red);
}

.home-text .text-h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}
.home-text .text-h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 3rem;
}

.home-img img{
    width: 100%;
    color: var(--dark);    
}

.home-btn{
    
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover{
    background: rgb(238, 74, 74);
}

@media (max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }

    .menu.ativo.bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }

    .menu.ativo.bar:nth-child(2){
        opacity: 0%;
    }

    .menu.ativo.bar:nth-child(3){
        transform: translatey(-8px) rotate(-45deg);
    }

    
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: all 0.3s;
    }
    
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*MAIN  */
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        
    }
    .home .text-h3{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    
}

.container-img{
    display: flex;
    justify-content: center;
    float: center;
    overflow: hidden;
    width: 90%;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}  





.rodape{
    text-align: center;
    align-items: center;
}




/* GALERIA */

.lbox {
    visibility: hidden;
    opacity: 0;
}
.album-img{
    width: 800px;
    list-style: none;
    display: flex;
    margin: 100px auto;
    overflow: hidden;
}
.min {
    width: 200px;
    padding: 10px;
}
.lbox:target {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(10,10,10,0.7);
}
.box-img {
    width: 1000px;
    margin: 150px auto;
}
.btn {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev {
    left: 5%;
    top: 45%;
}
#next {
    right: 5%;
    top: 45%;
}
#close {
    top: 0;
    right: 2px;
}
.box-img img {
    opacity: 0;
    width: 100%;
    height: 720px;
    align-items: center;
}

.lbox:target .box-img img {
    opacity: 1;
    transition: opacity 250ms linear;    }

    @media (max-width: 785px){
    
    }
        